/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 960px;
	clear: both;
	background-image: url("../images/grey.png") ;
}

h1 {
	color: #4aaaa5;
	font-family: serif;
	font-size: 32px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: bold;
}

hr {
	color: #777777;
}

* {
  box-sizing: border-box;
}


section {
	  
	  background-color: #eee;
	  width: 100%;

 }

 .hr1 {

 	width: 100%;
 	height: 1px;
 	background-color: #dddddd;
 	margin-top: 15px;
 	margin-bottom: 30px;


}

 .hr2 {

 	background-color: #dddddd;
 	width: 100%;
 	height: 4px;
 	margin-bottom: 20px;

	}

.image1 {
	float: left;
	margin-right: 15px;
}

.image2 {
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 4px;

}

.image3 {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 5px;
	margin-left: 5px;
}

.image4{
	float: left;
	width: 70px;
	height: 70px;
	}

.image5{
	float:left;
	}

.image6{
	float: left;
	margin-left: 60px;
	margin-bottom: 10px;
	}


.your-name {
	padding:  10px;
	background-color: #4aaaa5;
	color: white;
	font-size: 25px;
	font-weight: bolder;
	float: left;
	width: 275px;
	height: 68px;
	position: absolute;
	top: 0px;
	margin-left: 5%;
	z-index: 6;
	font-family: serif;
	text-align: center;
	padding-top: 20px;
	}



.about-portfolio-contact {
	padding:  20px;
	background-color: #ffffff;
	color: #777777;
	float: left;
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
	border-bottom:  2px solid #dddddd;
	}

.connect-with-me {
	padding:  20px;
	background-color: white;
	color: white;
	width: 270px;
	height: 200px;
	position: absolute;
	clear: both;
	top: 100px;
	margin-left: 70%;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	font-weight: bolder;
	text-align: center;
	font-family: serif;
	font-size: 24px;

}

.paragraph {

	width: 650px;
	position: absolute;
	top: 100px;
	margin-right: 60%;
	margin-left: 5%;
	clear: all;
	color: #777777;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding-left: 30px;
	font-family: arial;
	padding-right: 30px;
	line-height: 2em;
	height: 80%;
}

footer {
	background: #666666;
	padding: 20px;
	clear: both;
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	border-top: 5px solid #4aaaa5;
	color: #777777;
	text-align: center;
	font-size: 12px;
	height: 70px;
}

.paragraph2 {

	width: 650px;
	position: absolute;
	top: 100px;
	margin-right: 60%;
	margin-left: 5%;
	clear: all;
	color: #777777;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding-left: 30px;
	font-family: arial;
	padding-right: 30px;
	font-size:16px;
}

.list1 {
	top: 0px;
	width:300px;
	margin-left: 70%;
	background-color:#ffffff;
	height: 30px;
	z-index: 3;
	position: absolute;
	text-align: center;
	color: #777777;
	margin-top: 25px;
	font-size: 16px;
}


.inputs1 {
	width: 100%;
	height: 30px;
	
}
.inputs2 {
	width: 100%;
	height: 30px;
	
}

textarea {
	width: 100%;
	height: 250px;
}

.submit1 {
	color: white;
	background-color: #4aaaa5;
	width: 120px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	border: none;
}

a:link {
    color: #777777;
    text-decoration: none;
}

input {
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #777777;
}

.hangman{

	position: absolute;
	background-color: #4aaaa5;
	width: 260px;
	height: 70px;
	margin-top: 110px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
	font-family: serif;

}

.rpg{


	position: absolute;
	background-color: #4aaaa5;
	width: 260px;
	height: 70px;
	margin-top: 110px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
	margin-left: 320px;
	font-family: serif;

}


.trivia{
	position: absolute;
	background-color: #4aaaa5;
	width: 260px;
	height: 70px;
	margin-top: 325px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
	font-family: serif;

}

.rutgers{
	position: absolute;
	background-color: #4aaaa5;
	width: 260px;
	height: 70px;
	margin-top: 325px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
	margin-left: 320px;
	font-family: serif;

}

.rps{
	position: absolute;
	background-color: #4aaaa5;
	width: 260px;
	height: 70px;
	margin-top: 540px;
	text-align: center;
	font-size: 24px;
	color: white;
	padding-top: 20px;
	font-family: serif;

}